/* Todo Item */
.todo-item {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1rem;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  user-select: none;
}

.todo-item.completed * {
  color: lightgray;
}

.todo-item .checkbox {
  margin-right: 0.5rem;
}

.todo-item .title,
.todo-item .textfield {
  margin-right: auto;
}

.todo-item .textfield {
  display: none;
}

.todo-item.completed .title {
  text-decoration: line-through;
}

.todo-item.editing .checkbox,
.todo-item.editing .title {
  display: none;
}

.todo-item.editing .textfield {
  display: block;
  flex: 1;
  margin-right: 16px;
}

.todo-item button {
  opacity: 0;
  transition: all 0.2s;
}

.todo-item:hover button:not(.checkbox) {
  opacity: 1;
}

.image-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;
}

.image-list__item {
  width: 45%;
}

.image-list__item--ocean {
  background-image: url('../img/webp/okean-mostjpg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Todo form */

// stylelint-disable
#todo-form {
  display: flex;
  padding: 10px;
  background-color: #fafafa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#todo-form input {
  flex: 1;
  outline: none;
  transition: all 0.2s;
}

#todo-form input:focus {
  border: 1px solid #f0db4f;
}

#todo-form button {
  margin-left: 10px;
}
