@import 'app.scss'; // пример импорта scss файлов

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Consolas', 'Arial', 'Helvetica', sans-serif;
  color: #757575;
  background-color: #fdaaff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: inline-block;
  position: relative;
  min-width: 64px;
  height: 36px;
  overflow: hidden;
  margin: 0;
  border: none;
  padding: 0 16px;
  transition:
    box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 36px;
  font-family: 'Consolas', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #757575;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0;
  text-transform: uppercase;
  background: 0 0;
  border-radius: 2px;
  outline: none;
  will-change: box-shadow;
  cursor: pointer;
}

button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

button:active {
  background-color: rgba(158, 158, 158, 0.4);
}

button.icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  overflow: hidden;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 24px;
  line-height: normal;
  border-radius: 50%;
}

button .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  line-height: 24px;
  vertical-align: middle;
  transform: translate(-12px, -12px);
}

input {
  border: 1px solid lightgray;
  padding: 0.5em;
  font-size: 1rem;
  font-family: 'Consolas', 'Arial', 'Helvetica', sans-serif;
  color: #757575;
  border-radius: 2px;
  outline: none;
}

main {
  overflow: hidden;
  margin: 70px auto;
  background: #ffffff;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #f0db4f;
}

header h1 {
  display: inline-block;
  margin: 1rem auto;
  color: #323330;
}
